{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{% block meta_description %}Fondo is the best way to get track of your business finances!{% endblock %}" />

{% block extra_css %}
{% endblock %}
      
    <!-- Title -->
    <title>Integrando React con Django</title>

  </head>

{% block body %}
{% endblock %}

<!-- JAVASCRIPT -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>





{% block extra_javascript %}
{% endblock %}
  </body>
</html>